@CHARSET "UTF-8";
.footer{
    background-color: #222222;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color : #fff;
    margin-top:30px;
}

/* 必須マーク */
.required-mark {
	position: relative;
	top: -0.2em;
	left: 0;
	line-height: 1;
	padding: 0.25em 0.375em;
	border-radius: 2px;
	color: #FFF;
	font-weight: normal;
	font-size: 62.5%;
	background-color: #C00;
}
/* 必須マーク */

/* アコーディオン拡張 */
.panel-heading {
	font-family: 'FontAwesome'
}
.panel-heading a {
	display: block;
	width: 100%
}
.panel-heading a:hover {
	text-decoration: none;
}
/* アコーディオン拡張 */

/* パンくずの調整 */
.pankuzu-position {
	padding-left : 0px;
	padding-top : 20px;
}

.pankuzu-color {
	color : white;
}
/* パンくずの調整 */

/* タイトル横のリンク位置調整 */
.title-link-position {
	margin-top:-28px;
}
/* タイトル横のリンク位置調整 */

/* 画像サムネイル */
form img.thumb {
    margin:0 5px 5px 0;
    max-width:200px;
    vertical-align:bottom;
}
/* 画像サムネイル */
